:root {
    --color-black: #111;
    --color-white: #fff;
    --color-primary: #474b4f;
    --color-secondary: #86c232;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    width: 48px;
    height: 100%;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.side-item:last-child {
    border-bottom: none;
}

.sidebar-item {
    border-bottom: 1px solid var(--color-black);
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: relative;
}

.sidebar-item object {
    pointer-events: none;
}

.sidebar-item--counter {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 4px;
    color: var(--color-white);
    pointer-events: none;
}

.sidebar-item.sidebar-item--active {
    background-color: var(--color-secondary);
}

main section {
    display: grid;
    top: -9999999999px;
    position: absolute;
    width: 100%;
    color: #282828;
}

.dark-mode main section {
    color: var(--color-white);
}

body {
    display: flex;
    width: 800px;
    height: 600px;
}

main {
    flex: 1;
    overflow: auto;
    position: relative;
}

section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 8px;
    padding: 20px;
    grid-auto-flow: dense;
}

.section-element {
    height: 120px;
    position: relative;
    border: 1px solid var(--color-black);
    cursor: pointer;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.dark-mode .section-element {
    border: 1px solid var(--color-white);
}

.section-element img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--color-white);
}

body.dark-mode {
    background-color: var(--color-black);
}

.alert {
    position: fixed;
    top: 0;
    padding: 12px;
    font-size: 14px;
    color: var(--color-white);
    background-color: var(--color-primary);
    animation: alert-box 0.4s ease;
    width: 100%;
    text-align: center;
}

@keyframes alert-box {
    0% {
        top: -10%;
    }

    100% {
        top: 0;
    }
}

.dark-mode .pre-code {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.pre-code pre{
    color: var(--color-primary);
    background-color: var(--color-white);
    font-size: 12px;
}

#loading-page-text {
    font-size: 32px;
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    font-style: italic;
    font-weight: bold;
}

.home-page-host {
    font-size: 32px;
    font-weight: bold;
}

.home-page-icon {
    height: 24px;
    width: 24px;
    margin-left: 8px;
}

.home-page-document-size {
    font-size: 12px;
    font-style: italic;
}

.section-home-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-home-row--path {
    margin-bottom: 36px;
}

.section-home-row--host {
    margin-top: 12px;
}