* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    width: 48px;
    height: 100%;
    background-color: #d65d0e;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.side-item:last-child {
    border-bottom: none;
}

.sidebar-item {
    border-bottom: 1px solid #282828;
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: relative;
}

.sidebar-item--counter {
    font-size: 11px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 4px;
}

.sidebar-item.sidebar-item--active {
   background-color: #fe8019;
}

.sidebar-item#reload {
    margin-top: auto;
}

.sidebar-item img {
    width: 24px;
    height: 24px;
}

main section {
    display: none;
    color:#dedede;
}

#section-colors {
    display: grid;
}

body {
    display: flex;
    width: 800px;
    height: 600px;
}

main {
    flex: 1;
    overflow: auto;
}

section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 8px;
    padding: 20px;
    grid-auto-flow: dense;
}

.section-element {
    height: 120px;
    position: relative;
    border: 1px solid #dedede;
    cursor: pointer;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.section-element img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

body {
    background-color: #282828;
}

.alert {
    position: fixed;
    top: 0;
    padding: 12px;
    font-size: 14px;
    color: #ffffff;
    background-color: #d65d0e;
    animation: alert-box 0.4s ease;
    width: 100%;
    text-align: center;
  }
  @keyframes alert-box {
    0% {
      top: -10%;
    }
    100% {
      top: 0;
    }
  }